@import "../colors.css";

body{
  font-size: 14px;
}
footer img{
height: 12vh;
width: 35vw;
bottom: 0;
}


/* -------------------------------------- */
/* -------------------------------------- */
/* ----------Wide-screen css------------- */
@media screen and (min-width: 600px) {
  body{
    font-size: 16px;
  }
}
/* ----------Wide-screen css------------- */
/* -------------------------------------- */
/* -------------------------------------- */